body {
    font-family: Arial, sans-serif;
    background-color: #715760;
    margin: 0;
    padding: 20px;  
}

h1 {
    text-align: center;
    color: #e4c3c3;
    font-size: 32px;
    background-color:#9c4d4d;
    padding: 5px;
    border-radius: 15px;
}