body {
    font-family: Arial, sans-serif;
    background-color: #715760;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #553e50;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 650px;
    width: 300px;
}

.card h2 {
    text-align: center;
    color: #e4c3c3;
    font-size: 32px;
    background-color:#9c4d4d;
    padding: 5px;
    border-radius: 15px;
}

.card-link {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}
.card-link a {
    text-decoration: none;
    color: #e4c3c3;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    background: #42303e;
    outline: auto;
    outline-color: #e4c3c3;
}

.card-link a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ebc7c7;
    background-color:#6d3838;
}

.sticker-container {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .sticker-container h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    z-index: 1;
    position: relative;
    color: #e4c3c3;
    font-size: 120px;
    margin-bottom: 40px;
  }

  .sticker {
    position: sticky;
    margin-top: 70px;
    transform: translateX(-60%) rotate(-12deg);
    width: 100px;
    height: 100px;
    z-index: 2;   
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2)); 
  }

  .sticker:hover {
    transform: translateX(-60%) rotate(-12deg) scale(1.1);
    transition: transform 0.3s;
  }