body {
    background-color: #715760;
}

p {
    color: #e4c3c3;
    margin: 0;
}

strong {
    color: #e7b324;
}

.class-container {
    display: flex;
    flex-direction: row;
}

.card-text small {
    color: #e4c3c3;
}